body {
    margin: 0;
    font-size: 14px;
}

.text-gradient {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#00FEFB), to(#0380FF));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@font-face {
    font-family: "汉仪菱心体";
    font-style: normal;
    src: url("../assets/fonts/hanyi-lingxin.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "张海山草泥马体";
    font-style: normal;
    src: url("../assets/fonts/zhanghaishan-cnm.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "汉仪菱心体简";
    font-style: normal;
    src: url("../assets/fonts/HYLingXinTiJ.ttf");
    font-weight: normal;
}
